.card {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-min-width: 150px;
    -fx-min-height: 200px;
}

.card:hover {
    -fx-background-color: lightblue;
}

.default { -fx-background-color: lightgray; }

.fire { -fx-background-color: red; }

.firebreak { -fx-background-color: purple; }

.water { -fx-background-color: rgba(21, 156, 186, 0.99); }

.wind { -fx-background-color: grey; }

.not-found { -fx-background-color: transparent; }

.highlight {  -fx-background-color: rgba(255, 255, 0, 0.5); }